body {
  font-family: 'Arial', sans-serif;
  background-color: #333;
  margin: 0;
  padding: 0;
  color: #fff; /* Set text color to white */
}

.starter-page {
  text-align: center;
  max-width: 800px;
  margin: 200px auto;
  padding: 20px;
  background-color: #5a5555; /* Dark background color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Adjust shadow color */
  position: relative;
}

#timer {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff; /* Set text color to white */
}

h3 {
  color: #fff; /* Set heading color to white */
}

p {
  color: #aaa; /* Lighter text color */
  margin-bottom: 15px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 15px 20px; /* Adjusted vertical padding */
  margin: 10px; /* Adjusted margin between buttons */
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

.starter-page a {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #3498db;
  text-decoration: none;
}

#end-screen {
  display: none;
  text-align: center;
  max-width: 800px;
  margin: 200px auto;
  padding: 20px;
  background-color: #5a5555;; /* Dark background color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Adjust shadow color */
  position: relative;
}

.highscores {
  text-align: center;
  max-width: 800px; /* Adjust based on your quiz page's max-width */
  margin: 200px auto; /* Adjust based on your quiz page's margin */
  padding: 20px;
  background-color: #5a5555; /* Dark background color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Adjust shadow color */
  position: relative;
}

#back-to-quiz-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 14px; /* Adjust font size */
  padding: 10px 15px; /* Adjust padding */
}
